<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MergeSort Anything</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    </head>
    <body>
        <p>Type or copy/paste list of items below. Each item should be on its own line</p>
        <textarea id="listOfStuff" rows="100", cols="50"></textarea>
        <input type="submit", value="Submit", onclick="retreiveList()" style="float: right;"/><br/>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function retreiveList(){
            var lines = $('#listOfStuff').val().split(/\n/);
            var filtered = lines.filter(function (el) {
                return el != null && el !="";
            });
        }
    </script>
</html>