{% load base_extras %}
{% load static %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color:black;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            LP
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-stretch" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'tenMansHome' %}">LoL 10 Man Statistics</a>
                        <a class="dropdown-item" href="{% url 'marioGolfHome' %}">Mario Golf Statistics</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>