{% extends "tenMans/base.html" %}
{% load static %}
{%block content%}
<div class='container-fluid'>
    <div class="row">
        <div class="col">
            <h1><img src="https://ddragon.leagueoflegends.com/cdn/{{naChampVersion}}/img/champion/{{object.riotName}}.png"
                    style="height:100px; width:100px; margin-top: 5px;" />{{object.championName}}</h1>
        </div>
        <div class="col">
            <h2>Main Lane: {{mostPlayedLane}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="row">
                <div id="championPlaytimeChartContainer" class="col">
                    <canvas id="championPlaytimeChart" data-url="{% url 'championPlaytimeChart' object.pk %}"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="row">
                <div id="playerChampCountTableContainer" class="col table-responsive" style="padding: 0px;">
                    <table id="playerChampCountTable" class="table table-sm bg-white whiteTableBlackBackgroundWithHover" style="width:100%"
                        style="width:100%;" data-url="{% url 'playerChampCountTable' object.pk %}">
                        <thead class="bg-warning">
                            <tr>
                                <th>Player</th>
                                <th>Play Count</th>
                                <th>Average KDA</th>
                                <th>Winrate</th>
                                <th>playerID</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row">
                <div id="smallStatsBox" class="col-sm">
                    <div class="row">
                        <div class="col smallPlayerStat">
                            Overall Winrate:<b> {{overallWinrate}}%</b>
                        </div>
                        <div class="col smallPlayerStat">
                            Blue Win Rate: <b> {{blueSideWinrate}}%</b>
                        </div>
                        <div class="col smallPlayerStat">
                            Red Win Rate:<b> {{redSideWinrate}}%</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col smallPlayerStat">
                            Pick Rate: <b> {{pickRate}}%</b>
                        </div>
                        <div class="col smallPlayerStat">
                            Ban Rate: <b> {{banRate}}%</b>
                        </div>
                        <div class="col smallPlayerStat">
                            Pick+Ban Rate: <b> {{pickBanRate}}%</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col smallPlayerStat">
                            Average Overall KDA:<b> {{overallAverageKDA}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="champGamesTableContainer" class="col-12 table-responsive" style="padding: 0px;">
            <table id="champGamesTable" class="table table-sm bg-white whiteTableBlackBackgroundWithHover" style="width:100%; overflow:hidden;"
                data-url="{% url 'champGamesTable' object.pk %}">
                <thead class="bg-warning">
                    <tr>
                        <th>Game</th>
                        <th>Player</th>
                        <th>Lane</th>
                        <th>W/L?</th>
                        <th>Duration</th>
                        <th>Team</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>Largest Killing Spree</th>
                        <th>Largest MultiKill</th>
                        <th>Double Kills</th>
                        <th>Triple Kills</th>
                        <th>Quadra Kills</th>
                        <th>Penta Kills</th>
                        <th>Champ Damage</th>
                        <th>Vision Score</th>
                        <th>CC Score</th>
                        <th>Damage Taken</th>
                        <th>Gold</th>
                        <th>Turrets</th>
                        <th>Inhibs</th>
                        <th>CS</th>
                        <th>Jungle Camp Kills</th>
                        <th>Jungle Camp Invade Kills</th>
                        <th>CW Purchased</th>
                        <th>First Blood</th>
                        <th>First Tower</th>
                        <th>10 min av. CS</th>
                        <th>20 min av. CS</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
    <script src="{%static 'js/championDetails.js'%}"></script>
    {%endblock%}