{% extends "tenMans/base.html" %}
{% load static %}
{%block content%}
<h1>Games</h1>
<ul class="list-group">
{% for game in object_list %}
    <li class="list-group-item bg-dark text-light">
    {% if game.gameMemeStatus %}
        <a class="text-warning" href="{% url 'detailGame' game.pk%}"><b>Season #{{game.season.seasonNumber}} - Game #{{ game.gameNumber }}</b><br><i>{{ game.gameDate|date:"DATETIME_FORMAT"}}</i></a>
    {% else %}
        <a href="{% url 'detailGame' game.pk%}"><b>Season #{{game.season.seasonNumber}} - Game #{{ game.gameNumber }}</b><br><i>{{ game.gameDate|date:"DATETIME_FORMAT"}}</i></a>
    {%endif%}
    </li>
{% empty %}
    <li>No games yet.</li>
{% endfor %}
</ul>
{%endblock%}