{% extends "tenMans/base.html" %}
{% load static %}
{%block content%}
<div id="overallWinrate">
  <div id="overallWinrateChartContainer">
    <canvas id="overallWinrateChart" data-url="{% url 'overallWinrateChart' %}"></canvas>
  </div>
  <div id="overallWinrateTableContainer">
    <table id="overallWinrateTable" class="table table-hover table-bordered table-sm" data-url="{% url 'overallWinrateTable' %}">
      <thead>
        <tr>
          <th>Name</th>
          <th>Top</th>
          <th>Jungle</th>
          <th>Middle</th>
          <th>Bottom</th>
          <th>Support</th>
          <th>Overall</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script src="{%static 'js/customSort.js'%}"></script>
<script src="{%static 'js/heatmapColor.js'%}"></script>
<script src="{%static 'js/overallWinBar.js'%}"></script>
<script src="{%static 'js/overallWinTable.js'%}"></script>

{%endblock%}