{% extends "tenMans/base.html" %}
{% load static %}
{%block content%}
<div>
  <div id="basicNumbers" class="row">
    <div class="col">
      <h2>Total Games Played: {{gameTotal}}*</h2>
    </div>
    <div class="col">
      <p>*Meme Games Played: {{memeTotal}}</p>
    </div>
  </div>
  <div id="overallWinrate" class="row">
    <div id="overallWinrateChartContainer" class="col-6">
    <div id="loadingText" class="align-middle text-center" style="font-size:25px"><i class="fas fa-spinner fa-spin"></i></i> Loading</div>
      <canvas id="overallWinrateChart" data-url="{% url 'overallWinrateChart' %}"</canvas>
    </div>
    <div id="overallWinrateTableContainer" class="col-6">
      <table id="overallWinrateTable" class="table table-hover table-bordered table-sm" style="width:100%"
        data-url="{% url 'overallWinrateTable' %}">
        <thead>
          <tr>
            <th>Name</th>
            <th>Top</th>
            <th>Jungle</th>
            <th>Middle</th>
            <th>Bottom</th>
            <th>Support</th>
            <th>Overall</th>
            <th>TopAlpha</th>
            <th>JungleAlpha</th>
            <th>MiddleAlpha</th>
            <th>BottomAlpha</th>
            <th>SupportAlpha</th>
            <th>OverallAlpha</th>
            <th>playerID</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div id="overallPlaytime" class="row">
    <div id="overallPlaytimeChartContainer" class="col-6">
      <canvas id="overallPlaytimeChart" data-url="{% url 'overallPlaytimeChart' %}"></canvas>
    </div>
    <div id="overallPlaytimeTableContainer" class="col-6">
      <table id="overallPlaytimeTable" class="table table-hover table-bordered table-sm" style="width:100%"
        data-url="{% url 'overallPlaytimeTable' %}">
        <thead>
          <tr>
            <th>Name</th>
            <th>Top</th>
            <th>Jungle</th>
            <th>Middle</th>
            <th>Bottom</th>
            <th>Support</th>
            <th>Overall</th>
            <th>playerID</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<script src="{%static 'js/customSort.js'%}"></script>
<script src="{%static 'js/heatmapColor.js'%}"></script>
<script src="{%static 'js/overallWinBar.js'%}"></script>
<script src="{%static 'js/overallWinTable.js'%}"></script>
<script src="{%static 'js/overallPlayBar.js'%}"></script>
<script src="{%static 'js/overallPlayTable.js'%}"></script>

{%endblock%}