{% extends "tenMans/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{%block header%}
{{form.media}}
{%endblock%}
{%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            {% crispy form %}
        </div>
    </div>
    {% if player1 and player2 %}
    <div class="row justify-content-center" style='padding-bottom: 35px;'>
        <div class="col-4 text-end display-4">
            <a href='/ten_mans/player/{{player1.id}}'>{{player1.playerName}}</a>
        </div>
        <div class="col-4 text-center display-4">
        VS
        </div>
        <div class="col-4 text-start display-4">
            <a href='/ten_mans/player/{{player2.id}}'>{{player2.playerName}}</a>
        </div>
    </div>
    <div class="row">
        <div id="laneMatchupChartContainer" class="col-6">
            <canvas id="laneMatchupChart" data-url="{% url 'laneMatchupChart' player1.id player2.id %}">
            </canvas>
        </div>
        <div class="col col-md-6">
            <div id="matchupCountTableContainer" class="table-responsive">
                <table id="matchupCountTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%;"
                    data-url="{% url 'matchupCountTable' player1.id player2.id %}">
                    <thead class="bg-warning">
                        <tr>
                            <th>Lane</th>
                            <th>Occurences</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style='padding-bottom: 35px;'>
        <div id="matchupGamesTableContainer" class="col-9 table-responsive" style="padding: 0px;">
            <table id="matchupGamesTable" class="table table-sm bg-white whiteTableBlackBackground"
                data-url="{% url 'matchupGamesTable' player1.id player2.id %}" style="margin: 0 auto; width: 100%; height: 100%; overflow:hidden;">
                <thead class="bg-warning">
                    <tr>
                        <th>Game</th>
                        <th>{{player1.playerName}} Champion</th>
                        <th>{{player1.playerName}} CS</th>
                        <th>{{player1.playerName}} KDA</th>
                        <th>{{player1.playerName}} Lane</th>
                        <th>{{player1.playerName}} W/L?</th>
                        <th>{{player2.playerName}} W/L?</th>
                        <th>{{player2.playerName}} Lane</th>
                        <th>{{player2.playerName}} KDA</th>
                        <th>{{player2.playerName}} CS</th>
                        <th>{{player2.playerName}} Champion</th>
                        <th>gameID</th>
                        <th>leftchampionID</th>
                        <th>leftriotChampionName</th>
                        <th>rightchampionID</th>
                        <th>rightriotChampionName</th>
                        <th>championVersion</th>
                        <th>highlightRow</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    {%else%}
    {%endif%}
</div>
<script src="{%static 'js/lane_matchup.js'%}"></script>
{%endblock%}