{% extends "tenMans/base.html" %}
{% load static %}
{% block header %}
{%endblock%}
{%block content%}
<div class="container-fluid">
    <h1>Leaderboards</h1>
    <div class="row justify-content-md-center">
        <div id="mostKillsGameTableContainer" class="col-2">
            <h3>Most Kills (One Game)</h3>
            <table id="mostKillsGameTable" class="table table-hover table-bordered table-sm"
                data-url="{% url 'mostKillsGameTable'%}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Kills</th>
                        <th>Game</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="mostDeathsGameTableContainer" class="col-2">
            <h3>Most Deaths (One Game)</h3>
            <table id="mostDeathsGameTable" class="table table-hover table-bordered table-sm"
                data-url="{% url 'mostDeathsGameTable'%}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Deaths</th>
                        <th>Game</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="mostAssistsGameTableContainer" class="col-2">
            <h3>Most Assists (One Game)</h3>
            <table id="mostAssistsGameTable" class="table table-hover table-bordered table-sm"
                data-url="{% url 'mostAssistsGameTable'%}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assists</th>
                        <th>Game</th>
                        <th>gameID</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="{%static 'js/leaderboards.js'%}"></script>
{%endblock%}