{% extends "tenMans/base.html" %}
{% load static %}
{% block header %}
{%endblock%}
{%block content%}
<div class="container-fluid">
    <div id="draftOrderContainer" class="row">
        <div id="averageDraftOrderTableContainer" class="col-xl-6 table-responsive">
        <h2>Average Draft Order</h2>
            <table id="averageDraftOrderTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                data-url="{% url 'averageDraftOrderTable' %}">
                <thead class="bg-warning">
                    <tr>
                        <th>Name</th>
                        <th>Average Draft Order</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="expectedDraftOrderWinrateTableContainer" class="col-xl-6 table-responsive">
        <h2>Expected Draft Order by Winrate Confidence</h2>
            <table id="expectedDraftOrderWinrateTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                data-url="{% url 'expectedDraftOrderWinrateTable' %}">
                <thead class="bg-warning">
                    <tr>
                        <th>Name</th>
                        <th>Minimum 50% Confidence Winrate</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div id="expectedDraftOrderWinrateTopTableContainer" class="col-xl-2 table-responsive">
            <h2>Top Lane</h2>
            <table id="expectedDraftOrderWinrateTopTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                data-url="{% url 'expectedDraftOrderWinrateLaneTable' lane='Top'%}">
                <thead class="bg-warning">
                    <tr>
                        <th>Name</th>
                        <th>Minimum 50% Confidence Winrate</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="expectedDraftOrderWinrateJungTableContainer" class="col-xl-2 table-responsive">
            <h2>Jungle</h2>
            <table id="expectedDraftOrderWinrateJungTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                data-url="{% url 'expectedDraftOrderWinrateLaneTable' lane='Jungle'%}">
                <thead class="bg-warning">
                    <tr>
                        <th>Name</th>
                        <th>Minimum 50% Confidence Winrate</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="expectedDraftOrderWinrateMidTableContainer" class="col-xl-2 table-responsive">
            <h2>Mid Lane</h2>
            <table id="expectedDraftOrderWinrateMidTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                data-url="{% url 'expectedDraftOrderWinrateLaneTable' lane='Mid'%}">
                <thead class="bg-warning">
                    <tr>
                        <th>Name</th>
                        <th>Minimum 50% Confidence Winrate</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="expectedDraftOrderWinrateBotTableContainer" class="col-xl-2 table-responsive">
            <h2>Bot Lane</h2>
            <table id="expectedDraftOrderWinrateBotTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                data-url="{% url 'expectedDraftOrderWinrateLaneTable' lane='Bot'%}">
                <thead class="bg-warning">
                    <tr>
                        <th>Name</th>
                        <th>Minimum 50% Confidence Winrate</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="expectedDraftOrderWinrateSuppTableContainer" class="col-xl-2 table-responsive">
            <h2>Support</h2>
            <table id="expectedDraftOrderWinrateSuppTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                data-url="{% url 'expectedDraftOrderWinrateLaneTable' lane='Support'%}">
                <thead class="bg-warning">
                    <tr>
                        <th>Name</th>
                        <th>Minimum 50% Confidence Winrate</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div id="expectedDraftOrderWinrateCaptainTableContainer" class="col-xl-2 table-responsive">
            <h2>Captain</h2>
            <table id="expectedDraftOrderWinrateCaptainTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                data-url="{% url 'expectedDraftOrderWinrateCaptainTable'%}">
                <thead class="bg-warning">
                    <tr>
                        <th>Name</th>
                        <th>Minimum 50% Confidence Winrate</th>
                        <th>playerID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="{%static 'js/draftOrder.js'%}"></script>
{%endblock%}