{% load base_extras %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'tenMansHome'%}">10 Mans Statistics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item {% navactive request 'playerDraftStatsView'%}">
                    <a class="nav-link" href="{% url 'playerDraftStatsView'%}">Player Draft Stats</a>
                </li>
                <li class="nav-item {% navactive request 'leaderboards'%}">
                    <a class="nav-link" href="{% url 'leaderboards'%}">Leaderboards</a>
                </li>
                <li class="nav-item {% navactive request 'gameListView'%}">
                    <a class="nav-link" href="{% url 'gameListView'%}">Games</a>
                </li>
                <li class="nav-item {% navactive request 'championListView'%}">
                    <a class="nav-link" href="{% url 'championListView'%}">Champions</a>
                </li>
                <li class="nav-item {% navactive request 'laneMatchupFormView'%}">
                    <a class="nav-link" href="{% url 'laneMatchupFormView'%}">Lane Matchups</a>
                </li>
                <li class="nav-item {% navactive request 'duoView'%}">
                    <a class="nav-link" href="{% url 'duoView'%}">Duos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Players
                    </a>
                    {% if player_list%}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for player in player_list %}
                        <a class="dropdown-item" href="{% url 'detailPlayer' player.pk%}">{{ player.playerName}}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'newGameFormView'%}">New Game</a>
                        <a class="dropdown-item" href="{% url 'updateGameFormView'%}">Update Game</a>
                        <a class="dropdown-item" href="{% url 'updateAllGamesFormView'%}">Update All Existing Games</a>
                        <a class="dropdown-item" href="{% url 'newPlayerFormView'%}">Add New Player</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>