{% extends "tenMans/base.html" %}
{% load static %}
{%block content%}
<h1>{{ object.playerName }}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-6">
            <div class="row">
                <div id="winrateOverTimeContainer" class="col">
                    <canvas id="winrateOverTimeChart" data-url="{% url 'playerWinrateOverTime' object.pk %}"></canvas>
                </div>
            </div>
            <div class="row">
                <div id="smallStatsBox" class="col">
                    <div class="row">
                        <div class="col smallPlayerStat">
                            Most Played Lane:<b> {{ mostPlayedLane }}</b>
                        </div>
                        <div class="col smallPlayerStat">
                            Total Games Played:<b> {{ totalGamesPlayed }}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 smallPlayerStat">
                            Most Played Champion:<b> {{ mostPlayedChamp }}</b>
                        </div>
                        <div class="col-6 smallPlayerStat">
                            Highest Winrate Champion:<b> {{ highestWinrateChamp }}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col smallPlayerStat">
                            Different Champions Played:<b> {{uniqueChampionsPlayed}}</b>
                        </div>
                        <div class="col smallPlayerStat">
                            Average Overall KDA:<b> {{overallAverageKDA}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col smallPlayerStat">
                            Average Pulled Bans Per Game:<b> {{averageBansPulled}} </b>
                        </div>
                        <div class="col smallPlayerStat">
                            Most Banned Champion:<b> {{mostBannedChamp}} </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col smallPlayerStat">
                            Blue Win Rate:<b> {{blueSideWinrate}}%</b>
                        </div>
                        <div class="col smallPlayerStat">
                            Red Win Rate:<b> {{redSideWinrate}}%</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col smallPlayerStat">
                            Captain Winrate:<b> {{captainWinrate}}% ({{captainGamesPlayed}})</b>
                        </div>
                        <div class="col smallPlayerStat">
                            Random Winrate:<b> {{randomsWinrate}}% ({{randomsGamesPlayed}})</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="row">
                <div class="col">
                    <div class="border text-center text-light" id="playerTrophyCabinetContainer">
                        <h4>Trophy Case</h4>
                        <div id="trophyCase" style="display: inline">
                            <i style="font-size: 30px;" class="fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="playerLaneCountTableContainer" class="table-responsive">
                        <table id="playerLaneCountTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                            style="width:100%;" data-url="{% url 'playerLaneCountTable' object.pk %}">
                            <thead class="bg-warning">
                                <tr>
                                    <th>Lane</th>
                                    <th>Play Count</th>
                                    <th>Average KDA</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="playerChampionCountTableContainer" class="table-responsive">
                        <table id="playerChampionCountTable" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                            style="width:100%;" data-url="{% url 'playerChampionCountTable' object.pk %}">
                            <thead class="bg-warning">
                                <tr>
                                    <th>Champion</th>
                                    <th>Play Count</th>
                                    <th>Winrate</th>
                                    <th>Average KDA</th>
                                    <th>championID</th>
                                    <th>riotChampionName</th>
                                    <th>championVersion</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="playerGamesTableContainer" class="col-12" style="padding: 0px;">
            <table id="playerGamesTable" class="table table-sm bg-white whiteTableBlackBackgroundWithHover" style="width:100%; overflow:hidden;"
                data-url="{% url 'playerGamesTable' object.pk %}">
                <thead class="bg-warning">
                    <tr>
                        <th>Game</th>
                        <th>Champion</th>
                        <th>Lane</th>
                        <th>W/L?</th>
                        <th>Duration</th>
                        <th>Team</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>Largest Killing Spree</th>
                        <th>Largest MultiKill</th>
                        <th>Double Kills</th>
                        <th>Triple Kills</th>
                        <th>Quadra Kills</th>
                        <th>Penta Kills</th>
                        <th>Champ Damage</th>
                        <th>Vision Score</th>
                        <th>CC Score</th>
                        <th>Damage Taken</th>
                        <th>Gold</th>
                        <th>Turrets</th>
                        <th>Inhibs</th>
                        <th>CS</th>
                        <th>Jungle Camp Kills</th>
                        <th>Jungle Camp Invade Kills</th>
                        <th>CW Purchased</th>
                        <th>First Blood</th>
                        <th>First Tower</th>
                        <th>10 min av. CS</th>
                        <th>20 min av. CS</th>
                        <th>gameID</th>
                        <th>championID</th>
                        <th>riotChampionName</th>
                        <th>championVersion</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "{% url 'playerTrophyCaseString' object.pk %}",

                dataType: "html",
                success: function(msg) {
                    $("#trophyCase").html(msg);
                }
            });
        });
    });
</script>
<script src="{%static 'js/playerWOTGraph.js'%}"></script>
<script src="{%static 'js/playerDetails.js'%}"></script>
{%endblock%}