{% extends "tenMans/base.html" %}
{% load static %}
{% block header %}
{%endblock%}
{%block content%}
<div class="container-fluid">
    <h1>Leaderboards</h1>
    <div class="row linedheader" style="padding-top: 20px;">
        <div class="col-xl-4 col-md-6">
            <h2>Single Game</h2>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 10px;">
        {% for leaderboard in NonLifeTimeTables %}
            <div id="{{leaderboard.leaderboardURLName}}Container" class="col-xl-4 col-md-6">
                <h3 class="leaderboardTitle">{{leaderboard.leaderboardEmoji}} {{leaderboard.leaderboardName}}</h3>
                <table id="{{leaderboard.leaderboardURLName}}" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                    data-url="{% url leaderboard.leaderboardURLName%}">
                    <thead class="bg-warning">
                        <tr>
                            <th style="white-space: nowrap;">Name</th>
                            <th style="white-space: nowrap;">{{leaderboard.leaderboardValueName}}</th>
                            <th style="white-space: nowrap;">Game</th>
                            <th style="white-space: nowrap;">gameID</th>
                            <th style="white-space: nowrap;">playerID</th>
                        </tr>
                    </thead>
                </table>
            </div>
        {%endfor%}
    </div>
    <div class="row linedheader" style="padding-top: 20px;">
        <div class="col-xl-4 col-md-6">
            <h2>Lifetime</h2>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 10px;">
        {% for leaderboard in LifeTimeTables %}
            <div id="{{leaderboard.leaderboardURLName}}Container" class="col-xl-4 col-md-6">
                <h3 class="leaderboardTitle">{{leaderboard.leaderboardEmoji}} {{leaderboard.leaderboardName}}</h3>
                <table id="{{leaderboard.leaderboardURLName}}" class="table bg-white whiteTableBlackBackgroundWithHover table-sm" style="width:100%"
                    data-url="{% url leaderboard.leaderboardURLName%}">
                    <thead class="bg-warning">
                        <tr>
                            <th style="white-space: nowrap;">Name</th>
                            <th style="white-space: nowrap;">{{leaderboard.leaderboardValueName}}</th>
                            <th style="white-space: nowrap;">playerID</th>
                        </tr>
                    </thead>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
<script src="{%static 'js/leaderboards.js'%}"></script>
{%endblock%}