appdirs
autopep8
django
django-bootstrap-datepicker-plus
django-bootstrap4
django-cassiopeia
django-coverage-plugin
django-crispy-forms
django-nose
flake8
gviz-api
mypy-extensions
mysqlclient
pathspec
pip-tools
pipdeptree
plotly
pylint-django
PyMySQL
pytest-cov
pytest-django
regex
requests
riotwatcher
scipy
setuptools
typed-ast
typing-extensions
whitenoise
factory-boy