appdirs==1.4.4
arrow==0.17.0
asgiref==3.3.1
astroid==2.5.3
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.6
beautifulsoup4==4.9.3
cassiopeia==4.0.18
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coverage==5.5
datapipelines==1.0.7
decorator==4.4.2
Django==3.1.7
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.3.1
django-cassiopeia==2.1.0
django-coverage-plugin==1.8.0
django-crispy-forms==1.11.2
django-nose==1.4.7
Faker==8.1.0
flake8==3.9.1
gviz-api==1.9.0
idna==2.10
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
merakicommons==1.0.10
mixer==7.1.2
model-bakery==1.3.0
mypy-extensions==0.4.3
mysqlclient==2.0.3
networkx==2.5.1
nose==1.3.7
numpy==1.20.2
packaging==20.9
pathspec==0.8.1
Pillow==8.2.0
plotly==4.14.3
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.7.4
pylint-django==2.4.3
pylint-plugin-utils==0.6
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.3
pytest-cov==2.11.1
pytest-django==4.2.0
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
retrying==1.3.3
scipy==1.6.2
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
text-unidecode==1.3
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
whitenoise==5.2.0
wrapt==1.12.1
