.smallPlayerStat{
  padding: 10px ;
  border: 1px solid #dee2e6;
  word-wrap: break-word;
}

table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(odd) {
  background-color: #F3F3F3;
}
table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(even) {
  background-color: white;
}

.cellnowrap {
  white-space: nowrap;
}

.championListItem{
  padding: 10px ;
  border: 1px solid #dee2e6;
  word-wrap: break-word;
}

.yellowRow{
  background-color:rgb(255, 205, 86, 0.2) !important;
}

.rightBorder{
  border-right: solid 2px !important;
}
.leftBorder{
  border-left: solid 2px !important;
}

#id-laneMatchupForm{
  width: 15%;
}

.linedheader{
  border-bottom: 3px solid #dee2e6;
}

.leaderboardTitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboardTitle:hover {
  overflow: visible;
}