.smallPlayerStat{
  padding: 10px ;
  border: 1px solid #dee2e6;
  word-wrap: break-word;
}

table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(odd) {
  background-color: #F3F3F3;
}
table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(even) {
  background-color: white;
}

.cellnowrap {
  white-space: nowrap;
}

.championListItem{
  padding: 10px ;
  border: 1px solid #dee2e6;
  word-wrap: break-word;
}

.yellowRow{
  background-color:rgb(255, 205, 86, 0.2) !important;
}

.rightBorder{
  border-right: solid 2px !important;
}
.leftBorder{
  border-left: solid 2px !important;
}

#id-laneMatchupForm{
  width: 15%;
}

.linedheader{
  border-bottom: 3px solid #dee2e6;
}

.leaderboardTitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboardTitle:hover {
  overflow: visible;
}

.charDisplay {
  border-radius: 25px;
  padding: 20px;
  height:500px;
  width:100%;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #00ff00, #0099ff, #6666ff, #ff3399, #f0dc09);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}