<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mario Golf Statistics</title>
  {# Load the tag library #}
  {% load django_bootstrap5 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tableFonts.css' %}">

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/fc-3.3.3/r-2.2.9/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/fc-3.3.3/r-2.2.9/datatables.min.js"></script>

  <script src="https://kit.fontawesome.com/b900549498.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">

  {% block header %}
  {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100" style="font-family: 'Dosis', sans-serif;">
  {% include "marioGolf/navBar.html" %}
  <div class="container-fluid">
    <content>
      {% block content %}
      {% endblock %}
    </content>
  </div>
  <footer class="footer bg-light mt-auto" style="padding: 20px">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-4">
          <p>Author: Luke Peltier</p>
        </div>
        <div class="col-4">
          <div class="float-end" id="kofi-button">
            <a href='https://ko-fi.com/M4M216I02' target='_blank'><img height='36' style='border:0px;height:36px;'
                src='https://cdn.ko-fi.com/cdn/kofi5.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>