{% extends "marioGolf/base.html" %}
{% load static %}
{%block content%}
<h1>Characters</h1>
<div class="container-fluid">
    <div class="row">
        {%for char in object_list%}
        <div id="{{char.characterName}}Block" class="col-xl-3" style="padding:15px;">
            <a href="{% url 'detailCharacter' char.pk%}">
                <div class="text-light charDisplay" style="background-color: {{char.characterPrimaryColor}};">
                    <h3 class="leaderboardTitle" style="text-align: center;">{{char.characterName}}</h3>
                    {% if char.fullImageName is None %}
                    {% else %}
                    {% with 'img/'|add:char.fullImageName as image_static %}
                    <img src="{% static image_static %}" class="img-fluid"
                        style="display:block;margin-left: auto;margin-right: auto; height:80%; width:80%; object-fit:scale-down;" />
                    {% endwith %}
                    {% endif %}
                </div>
            </a>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}