{% extends "marioGolf/base.html" %}
{% load static %}
{%block content%}
<div class="container-fluid">
    <h1>Characters</h1>
    <div class="row justify-content-center" style="padding-top: 10px;">
        {%for char in characters%}
            <div id="{{char.characterName}}Block" class="col-xl-3" style="padding:15px;">
            <div class="text-light charDisplay"style="background-color: {{char.characterPrimaryColor}};">
                <h3 class="leaderboardTitle" style="text-align: center;">{{char.characterName}} - {{char.characterType}}</h3>
                {% with 'img/'|add:char.fullImageName as image_static %}
                    <img src="{% static image_static %}"class="img-fluid" style="display:block;margin-left: auto;margin-right: auto; height:80%; width:80%; object-fit:scale-down;"/>
                {% endwith %}
            </div>
            </div>
        {%endfor%}
    </div>
</div>
{%endblock%}