{% extends "marioGolf/base.html" %}
{% load static %}
{%block content%}
<div class='container-fluid'>
    <div class="row justify-content-center">
        <div class="col">
            <h1 style="text-align:center;"><b>{{ tournament.name }}</b>&emsp;<i>{{ tournament.startDate|date:"DATE_FORMAT"}} - {{ tournament.endDate|date:"DATE_FORMAT"}}</i></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div id="Leaderboard" class="col-xl-5">
            <table id="tournamentLeaderboardTable" class="table table-striped table-bordered" style="width:100%;"
                data-url="{% url 'tournamentLeaderboardMario' object.pk %}">
                <thead>
                    <tr>
                        <th>Placement</th>
                        <th>Player</th>
                        <th>Character</th>
                        <th>Score</th>
                        <th>Shots Taken</th>
                        <th>playerID</th>
                        <th>characterID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row justify-content-center pt-5">
        <div id="Scorecard" class="col-xl-10 col-12" style="padding: 0px;">
            <table id="tournamentScorecardTable" class="table table-hover table-bordered table-sm" style="width:100%;"
                data-url="{% url 'tournamentScorecardTableMario' object.pk %}">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Character</th>
                        {% for hole in holes %}
                        <th>Hole {{hole.order|add:"1"}}</th>
                        <th>Hole {{hole.order|add:"1"}} Par Score</th>
                        <th>Hole {{hole.order|add:"1"}} Par</th>
                        {%endfor%}
                        <th>playerID</th>
                        <th>characterID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="{%static 'js/marioTournamentDetail.js'%}"></script>
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            var scorecard = $('#tournamentScorecardTable').DataTable({
                "ajax": $('#tournamentScorecardTable').data('url'),
                "columns": [
                    {
                        "data": "playerName",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='/mario_golf/players/" + oData.playerID + "'>" + sData + "</a>");
                        }
                    },
                    {
                        "data": "character",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='/mario_golf/characters/" + oData.characterID+"'>" + sData + "</a>");
                        }
                    },
                    {% for hole in holes %}
                    {
                        "data": "hole{{hole.order|add:"1"}}",
                        className: 'scoring'
                    },
                    {
                        "data": "hole{{hole.order|add:"1"}}ParScore",
                        "visible": false
                    },
                    {
                        "data": "hole{{hole.order|add:"1"}}Par",
                        "visible": false
                    },
                    {% endfor %}
                    {
                        "data": "playerID",
                        "visible": false
                    },
                    {
                        "data": "characterID",
                        "visible": false
                    },

                ],
                paging: false,
                searching: false,
                info: false,
                "order": [
                    [0, "asc"]
                ],
                "pageResize": true,
                "scrollX": true,
                "fixedColumns": {
                    leftColumns: 2
                }
            });
            scorecard.on('draw', function () {
                scorecard.cells().every(function () {
                    if($(this.node()).hasClass('scoring')){
                        $(this.node()).attr('data-parscore', scorecard.cell(this.index().row, this.index().column+1).data())
                        $(this.node()).attr('data-par', scorecard.cell(this.index().row,this.index().column+2).data())
                        if (typeof (this.data()) === "number") {
                            $(this.node()).css('background-color', getRGBGolfScorecardColor(this.data(), $(this.node()).data('par')));
                        } else if (this.data() === "N/A" || this.data() === null) {
                            $(this.node()).css('color', window.chartColors.grey);
                        }
                    }
                });
            });

        });

    });
</script>
{%endblock%}